<a href="https://colab.research.google.com/github/Atiq0641/python_codes/blob/main/Assignment%2003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Student:
  def __init__(self,name,id,depart,cgpa):
    self.x=name
    self.y=id
    self.z=depart
    self.i=cgpa
  def print_details(self):
    print("Name:",self.x,"ID:",self.y)
    print("Department:",self.z)
    print(self.calculate_CGPA())
    if self.calculate_CGPA()>3.80:
      print("Your academic standing is 'Highest Distinction'")
    elif 3.65<self.calculate_CGPA()<3.80:
      print("Your academic standing is 'High Distinction'")
    elif 3.50<self.calculate_CGPA()<3.65:
      print("Your academic standing is 'Distinction'")
    elif 2.00<self.calculate_CGPA()<3.50:
      print("Your academic standing is 'Satisfactory'")
    elif self.calculate_CGPA()<2.00:
      print("Sorry you cannot graduate")        
  def calculate_CGPA(self):
    sum_cgpa=0
    for i in self.i:
      sum_cgpa+=float(i)
    caculated_cgpa=round((sum_cgpa*3)/(len(self.i)*3),2)
    return caculated_cgpa
s1 = Student('Dora', '15995599','CSE', [4,3.7,3.7,4])
s1.calculate_CGPA()
print("==========================")
s1.print_details()
print("==========================")
s2 = Student('Pingu', '12312322', 'EEE', [1.7,1.3,1.3,1.3,1])
s2.calculate_CGPA()
print("==========================")
s2.print_details()
print("==========================")
s3 = Student('Bob', '13311331', 'CSE', [2,3,3,3.7,2.7,2.7])
s3.calculate_CGPA()
print("==========================")
s3.print_details()

==========================
Name: Dora ID: 15995599
Department: CSE
3.85
Your academic standing is 'Highest Distinction'
==========================
==========================
Name: Pingu ID: 12312322
Department: EEE
1.32
Sorry you cannot graduate
==========================
==========================
Name: Bob ID: 13311331
Department: CSE
2.85
Your academic standing is 'Satisfactory'

Task 1

In [ ]:
class Calculator:
  def __init__(self,num1,operator,num2):
    print("Let's calculate!")
    self.number1=num1
    self.operator=operator
    self.number2=num2
    print(f'Value 1: {self.number1}')
    print(f'Operator: {self.operator}')
    print(f'Value 2: {self.number2}')
    if self.operator=='+':
      print(f'Result: {self.add()}')
    elif self.operator=='-':
      print(f'Result: {self.substract()}')
    elif self.operator=='*':
      print(f'Result: {self.multiply()}')
    elif self.operator=='/':
      print(f'Result: {self.divide()}')  
  def add(self):
    return self.number1+self.number2 
  def substract(self):
    return self.number1-self.number2
  def multiply(self):
    return self.number1*self.number2
  def divide(self):
    return self.number1/self.number2
calculator1=Calculator(int(input()),str(input())
,int(input()))

100
*
12
Let's calculate!
Value 1: 100
Operator: *
Value 2: 12
Result: 1200

Task 2

In [ ]:
class Course:
  def __init__(self,course,faculty,section):
    self.course=course
    self.faculty=faculty
    self.section=section
  def detail(self):
    print(self.course,"-",self.faculty,"-",self.section)
c1 = Course("CSE110", "TBA", 8)
c1.detail()
print("===============")
c2 = Course("CSE111", "TBA", 9)
c2.detail()

CSE110 - TBA - 8
===============
CSE111 - TBA - 9

Task 3

In [ ]:
class Patient:
  def __init__(self,name,age,weight,height):
    self.name=name
    self.age=age
    self.weight=weight
    self.height=height
  def printDetails(self):  
    print(f'Name: {self.name}')
    print(f'Age: {self.age}')
    print(f'Weight: {self.weight} kg')
    print(f'Height: {self.height} cm')
    print(f'BMI: {self.bmi_calculation()}')
  def bmi_calculation(self):
    return self.weight/(self.height/100)**2  
p1 = Patient("A", 55, 63.0, 158.0)
p1.printDetails()
print("====================")
p2 = Patient("B", 53, 61.0, 149.0)
p2.printDetails()

Name: A
Age: 55
Weight: 63.0 kg
Height: 158.0 cm
BMI: 25.236340330075304
====================
Name: B
Age: 53
Weight: 61.0 kg
Height: 149.0 cm
BMI: 27.476239809017613

Task 4

In [ ]:
class Vehicle:
  def __init__(self):
    self.x_axis=0
    self.y_axis=0
  def moveUp(self):
    self.y_axis+=1
  def moveDown(self):
    self.y_axis-=1
  def moveRight(self):
    self.x_axis+=1
  def moveLeft(self):
    self.x_axis-=1
  def print_position(self):
    print(f'({self.x_axis},{self.y_axis})') 
car = Vehicle()
car.print_position()
car.moveUp()
car.print_position()
car.moveLeft()
car.print_position()
car.moveDown()
car.print_position()
car.moveRight()

(0,0)
(0,1)
(-1,1)
(-1,0)

Task 5

In [ ]:
class Shape:
  def __init__(self,shape,size1,size2):
    self.shape=shape
    self.size1=size1
    self.size2=size2
  def area(self):
    if self.shape=='Triangle' or self.shape=='Rhombus':
      print("Area:",1/2*self.size1*self.size2)
    elif self.shape=='Rectangle' or self.shape=='Square':
      print("Area:",self.size1*self.size2)
    else:
      print ("Area: Shape Unknown")
triangle = Shape("Triangle",10,25)
triangle.area()
print("==========================")
square = Shape("Square",10,10)
square.area()
print("==========================")
rhombus = Shape("Rhombus",18,25)
rhombus.area()
print("==========================")
rectangle = Shape("Rectangle",15,30)
rectangle.area()
print("==========================")
trapezium = Shape("Trapezium",15,30)
trapezium.area()

Area: 125.0
==========================
Area: 100
==========================
Area: 225.0
==========================
Area: 450
==========================
Area: Shape Unknown

Task 6

In [ ]:
class Calculator:
  print("Calculator is ready")
  def __init__(self):
    self.value1=1
    self.value2=2
    self.operator='-'
  def calculate(self,value1,value2,operator):
    self.value1=value1
    self.value2=value2
    self.operator=operator 
    if self.operator=="+":
      return self.value1+self.value2
    elif self.operator=="-":
      return self.value1-self.value2
    elif self.operator=="*":
      return self.value1*self.value2
    elif self.operator=="/":
      return self.value1/self.value2
  def showCalculation(self):
    if self.operator=="+":
      print(str(self.value1)+str(self.operator)+str(self.value2)+'='+str(self.value1+self.value2))
    elif self.operator=="-":
      print(str(self.value1)+str(self.operator)+str(self.value2)+'='+str(self.value1-self.value2))
    elif self.operator=="*":
      print(str(self.value1)+str(self.operator)+str(self.value2)+'='+str(self.value1*self.value2))
    elif self.operator=="/":
      print(str(self.value1)+str(self.operator)+str(self.value2)+'='+str(self.value1/self.value2))
c1 = Calculator()
print("==================")
val = c1.calculate(10, 20, '+')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 10, '-')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 5, '*')
print("Returned value:", val)
c1.showCalculation()
print("==================")
val = c1.calculate(val, 16, '/')
print("Returned value:", val)
c1.showCalculation()

Calculator is ready
==================
Returned value: 30
10+20=30
==================
Returned value: 20
30-10=20
==================
Returned value: 100
20*5=100
==================
Returned value: 6.25
100/16=6.25

Task 8

In [ ]:
class Shinobi:
  def __init__(self,name,rank):
    self.name=name
    self.rank=rank
    self.mission=0
    self.salary=0
  def changeRank(self,rank):
    self.rank=rank
    return rank  
  def calSalary(self,mission=0):
    self.mission=mission
    if self.rank=='Genin':
      self.salary=self.mission*50
    elif self.rank=='Chunin':
      self.salary=self.mission*100
    else:
      self.salary=self.mission*500   
  def printInfo(self):
    print("Name:",self.name)
    print("Rank:",self.rank)
    print("Mission:",self.mission)
    print("Salary:",self.salary)    
naruto = Shinobi("Naruto", "Genin")
naruto.calSalary(5)
naruto.printInfo()
print('====================')
shikamaru = Shinobi('Shikamaru', "Genin")
shikamaru.printInfo()
shikamaru.changeRank("Chunin")
shikamaru.calSalary(10)
shikamaru.printInfo()
print('====================')
neiji = Shinobi("Neiji", "Jonin")
neiji.calSalary(5)
neiji.printInfo()

Name: Naruto
Rank: Genin
Mission: 5
Salary: 250
====================
Name: Shikamaru
Rank: Genin
Mission: 0
Salary: 0
Name: Shikamaru
Rank: Chunin
Mission: 10
Salary: 1000
====================
Name: Neiji
Rank: Jonin
Mission: 5
Salary: 2500

Task 9

In [ ]:
class Programmer:
  def __init__(self,name,language,experience):
    print("Horray! A new programmer is born")
    self.name=name
    self.language=language
    self.experience=experience
  def printDetails(self):
    print("Name:",self.name)
    print("Language:",self.language)  
    print("Experience:",self.experience)
  def addExp(self,add_experience):
    print(f'Updating experience of {self.name}')
    self.experience+=add_experience  
p1 = Programmer("Ethen Hunt", "Java", 10)
p1.printDetails()
print('--------------------------')
p2 = Programmer("James Bond", "C++", 7)
p2.printDetails()
print('--------------------------')
p3 = Programmer("Jon Snow", "Python", 4)
p3.printDetails()
p3.addExp(5)
p3.printDetails()

Horray! A new programmer is born
Name: Ethen Hunt
Language: Java
Experience: 10
--------------------------
Horray! A new programmer is born
Name: James Bond
Language: C++
Experience: 7
--------------------------
Horray! A new programmer is born
Name: Jon Snow
Language: Python
Experience: 4
Updating experience of Jon Snow
Name: Jon Snow
Language: Python
Experience: 9

Task 10

In [ ]:
class UberEats:
  def __init__(self,name,phone_number,adress):
    self.name=name
    self.phone_number=phone_number
    self.adress=adress
    self.dict1={}
    print(f'{self.name},welcome to UberEats!')
  def add_items(self,order1,order2,order1_price,order2_price):
    self.order1=order1
    self.order2=order2
    self.order1_price=order1_price
    self.order2_price=order2_price
    self.dict1[self.order1]=self.order1_price
    self.dict1[self.order2]=self.order2_price
  def print_order_detail(self):
    output=f'User details: Name:{self.name},Phone:{self.phone_number},Adress:{self.adress}\nOrders: {self.dict1}\nTotal price: {self.order1_price+self.order2_price}' 
    return output
order1 = UberEats("Shakib", "01719658xxx", "Mohakhali")
print("=========================")
order1.add_items("Burger", "Coca Cola", 220, 50)
print("=========================")
print(order1.print_order_detail())
print("=========================")
order2 = UberEats ("Siam", "01719659xxx", "Uttara")
print("=========================")
order2.add_items("Pineapple", "Dairy Milk", 80, 70)
print("=========================")
print(order2.print_order_detail())

Shakib,welcome to UberEats!
=========================
=========================
User details: Name:Shakib,Phone:01719658xxx,Adress:Mohakhali
Orders: {'Burger': 220, 'Coca Cola': 50}
Total price: 270
=========================
Siam,welcome to UberEats!
=========================
=========================
User details: Name:Siam,Phone:01719659xxx,Adress:Uttara
Orders: {'Pineapple': 80, 'Dairy Milk': 70}
Total price: 150

In [ ]:
class Spotify:
  def __init__(self,song_list):
    print("Welcome to Spotify!")
    self.song_list=song_list
  def playing_number(self,song_number):
    if song_number>len(self.song_list):
      output1=f'{song_number} is not found. Your playlist has {len(self.song_list)} songs only.'
      return output1
    else:
      output1=f'playing {song_number} number song for you\nSong name:{self.song_list[song_number-1]}'
      print('##########################')
      return output1 
  def add_to_playlist(self,song_name):
    self.song_list.append(song_name)
user1 = Spotify(["See You Again", "Uptown Funk", "Hello"])
print("=========================")
print(user1.playing_number(4))
user1.add_to_playlist("Dusk Till Dawn")
print(user1.playing_number(3))
print(user1.playing_number(4))

Welcome to Spotify!
=========================
4 is not found. Your playlist has 3 songs only.
##########################
playing 3 number song for you
Song name:Hello
##########################
playing 4 number song for you
Song name:Dusk Till Dawn