<a href="https://colab.research.google.com/github/Atiq0641/python_codes/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1

In [ ]:
class Customer:
  def __init__(self,name=None):
    self.name=name
  def greet(self,customer_name=None):
    self.customer_name=customer_name
    if self.customer_name is not None:
      print(f'Hello! {self.customer_name}')
    else:
      print(f'Hello!')
  def purchase(self,*items):
    self.items=items
    print(f'{self.name} you have purchased {len(items)} item(s):')
    for i in self.items:
      print(i)
customer_1 = Customer("Sam")
customer_1.greet()
customer_1.purchase("chips", "chocolate", "orange juice")
print("-----------------------------")
customer_2 = Customer("David")
customer_2.greet("David")
customer_2.purchase("orange juice")

Hello!
Sam you have purchased 3 item(s):
chips
chocolate
orange juice
-----------------------------
Hello! David
David you have purchased 1 item(s):
orange juice

Task 2

In [ ]:
class Panda:
  def __init__(self,name,gender,age):
    self.name=name
    self.gender=gender
    self.age=age
  def sleep(self,sleeping_hour=0):
    self.sleeping_hour=sleeping_hour
    if 3<=self.sleeping_hour<=5:
      return f'{self.name} sleeps {self.sleeping_hour} hours daily and should have Mixed Veggies'
    elif 6<=self.sleeping_hour<=8:
      return f'{self.name} sleeps {self.sleeping_hour} hours daily and should have Eggplant & Tofu'
    elif 9<=self.sleeping_hour<=11:
      return f'{self.name} sleeps {self.sleeping_hour} hours daily and should have Broccoli Chicken'  
    else:
      return f'{self.name} duration is unknown thus should have only bamboo leaves.'
panda1 = Panda("Kunfu","Male", 5)
panda2=Panda("Pan Pan","Female",3)
panda3=Panda("Ming Ming","Female",8)
print("{} is a {} Panda Bear who is {} years old".format(panda1.name,panda1.gender,panda1.age))
print("{} is a {} Panda Bear who is {} years old".format(panda2.name,panda2.gender,panda2.age))
print("{} is a {} Panda Bear who is {} years old".format(panda3.name,panda3.gender,panda3.age))
print("===========================")
print(panda2.sleep(10))
print(panda1.sleep(4))
print(panda3.sleep())

Kunfu is a Male Panda Bear who is 5 years old
Pan Pan is a Female Panda Bear who is 3 years old
Ming Ming is a Female Panda Bear who is 8 years old
===========================
Pan Pan sleeps 10 hours daily and should have Broccoli Chicken
Kunfu sleeps 4 hours daily and should have Mixed Veggies
Ming Ming duration is unknown thus should have only bamboo leaves.

Task 3

In [ ]:
class Cat:
  def __init__(self,color='White',activity='sitting'):
    self.color=color
    self.activity=activity
  def printCat(self):
    print(f'{self.color} cat is {self.activity}')
  def changeColor(self,color=None):
    self.color=color
c1 = Cat()
c2 = Cat("Black")
c3 = Cat("Brown", "jumping")
c4 = Cat("Red", "purring")
c1.printCat()
c2.printCat()
c3.printCat()
c4.printCat()
c1.changeColor("Blue")
c3.changeColor("Purple")
c1.printCat()
c3.printCat()

White cat is sitting
Black cat is sitting
Brown cat is jumping
Red cat is purring
Blue cat is sitting
Purple cat is jumping

Task 4

In [ ]:
class Student:
  def __init__(self,name="default student"):
    self.name=name
  def quizcalc(self,*quiz_number):
    self.sum=0
    self.average=0
    self.quiz_number=quiz_number
    for i in self.quiz_number:
      self.sum+=int(i)
    self.average=self.sum/3
    return self.average
  def printdetail(self):
    print(f'Hello {self.name}\nYour average quiz score is {self.average}')   
s1 = Student()
s1.quizcalc(10)
print('--------------------------------')
s1.printdetail()
s2 = Student('Harry')
s2.quizcalc(10,8)
print('--------------------------------')
s2.printdetail()
s3 = Student('Hermione')
s3.quizcalc(10,9,10)
print('--------------------------------')
s3.printdetail()

--------------------------------
Hello default student
Your average quiz score is 3.3333333333333335
--------------------------------
Hello Harry
Your average quiz score is 6.0
--------------------------------
Hello Hermione
Your average quiz score is 9.666666666666666

Task 5

In [ ]:
class Student:
  def __init__(self,name,id,department="CSE"):
    self.name=name
    self.id=id
    self.department=department
  def dailyEffort(self,effort):
    self.effort=effort
  def printDetails(self):
    print(f'Name: {self.name}\nID: {self.id}\nDepartment: {self.department}\nDaily Effort: {self.effort} hour(s)')  
    if self.effort<=2:
      print(f'Suggestion: Should give more effort!')
    elif 2<self.effort<=4:
      print(f'Suggestion: Keep up the good work!')
    else:
      print(f'Suggestion: Excellent! Now motivate others.')
harry = Student('Harry Potter', 123)
harry.dailyEffort(3)
harry.printDetails()
print('========================')
john = Student("John Wick", 456, "BBA")
john.dailyEffort(2)
john.printDetails()
print('========================')
naruto = Student("Naruto Uzumaki", 777, "Ninja")
naruto.dailyEffort(6)
naruto.printDetails()

Name: Harry Potter
ID: 123
Department: CSE
Daily Effort: 3 hour(s)
Suggestion: Keep up the good work!
========================
Name: John Wick
ID: 456
Department: BBA
Daily Effort: 2 hour(s)
Suggestion: Should give more effort!
========================
Name: Naruto Uzumaki
ID: 777
Department: Ninja
Daily Effort: 6 hour(s)
Suggestion: Excellent! Now motivate others.

Task 6

In [ ]:
class Patient:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def add_Symptom(self,*symptom):
    self.symptom=symptom
  def printPatientDetail(self):
    print(f'Name: {self.name}\nAge: {self.age}')
    x=''
    for i in self.symptom:
      x+=i+','
    print("Symptoms:",x[:-1])  
p1 = Patient('Thomas', 23)
p1.add_Symptom('Headache')
p2 = Patient('Carol', 20)
p2.add_Symptom('Vomiting', 'Coughing')
p3 = Patient('Mike', 25)
p3.add_Symptom('Fever', 'Headache', 'Coughing')
print("=========================")
p1.printPatientDetail()
print("=========================")
p2.printPatientDetail()
print("=========================")
p3.printPatientDetail()

=========================
Name: Thomas
Age: 23
Symptoms: Headache
=========================
Name: Carol
Age: 20
Symptoms: Vomiting,Coughing
=========================
Name: Mike
Age: 25
Symptoms: Fever,Headache,Coughing

Task 7

In [ ]:
class Match:
  def __init__(self,teams):
    print("5..4..3..2..1.. Play !!!")
    self.teams=teams
    self.list1=self.teams.split('-')
    self.batting_team=self.list1[0]
    self.bowling_team=self.list1[1]
    self.run=0
    self.over=0
    self.over_track=0
    self.wicket=0
  def add_run(self,run):
    self.run+=run
  def add_over(self,over):
    self.over_track+=over
    if self.over_track>5:
      print('Warning! Cannot add 5 over/s (5 over match)')
    else:
      self.over+=over  
  def add_wicket(self,wicket):
    self.wicket+=wicket
  def print_scoreboard(self):
    return f'Batting Team: {self.batting_team}\nBowling Team: {self.bowling_team}\nTotal Runs: {self.run} Wickets: {self.wicket} Overs: {self.over}'
match1 = Match("Rangpur Riders-Cumilla Victorians")
print("=========================")
match1.add_run(4)
match1.add_run(6)
match1.add_over(1)
print(match1.print_scoreboard())
print("=========================")
match1.add_over(5)
print("=========================")
match1.add_wicket(1)
print(match1.print_scoreboard())

5..4..3..2..1.. Play !!!
=========================
Batting Team: Rangpur Riders
Bowling Team: Cumilla Victorians
Total Runs: 10 Wickets: 0 Overs: 1
=========================
Warning! Cannot add 5 over/s (5 over match)
=========================
Batting Team: Rangpur Riders
Bowling Team: Cumilla Victorians
Total Runs: 10 Wickets: 1 Overs: 1

Task 8

In [ ]:
class ParcelKoro:
  def __init__(self,name="No name set",weight=0):
    self.name=name
    self.product_weight=weight
  def calculateFee(self,location=None):
    self.location=location
    self.total_cost=0
    if self.product_weight!=0:
      if self.location is None:
        self.total_cost=self.product_weight*20+50
      else:
        self.total_cost=self.product_weight*20+100
    else:
      return 0 
  def printDetails(self):
    print(f'Customer Name:{self.name}\nProduct Weight: {self.product_weight}\nTotal Fee: {self.total_cost}')  
print("**********************")
p1 = ParcelKoro()
p1.calculateFee()
p1.printDetails()
print("**********************")
p2 = ParcelKoro('Bob The Builder')
p2.calculateFee()
p2.printDetails()
print("----------------------------")
p2.product_weight = 15
p2.calculateFee()
p2.printDetails()
print("**********************")
p3 = ParcelKoro('Dora The Explorer', 10)
p3.calculateFee('Dhanmondi')
p3.printDetails()

**********************
Customer Name:No name set
Product Weight: 0
Total Fee: 0
**********************
Customer Name:Bob The Builder
Product Weight: 0
Total Fee: 0
----------------------------
Customer Name:Bob The Builder
Product Weight: 15
Total Fee: 350
**********************
Customer Name:Dora The Explorer
Product Weight: 10
Total Fee: 300

Task 9

In [ ]:
class Batsman:
  def __init__(self,*info):
    self.info=info
    if len(self.info)==3:
      self.name=self.info[0]
      self.runs=int(self.info[1])
      self.balls_faced=int(self.info[2])
    else:
      self.name="New Batsman"
      self.runs=int(self.info[0])
      self.balls_faced=int(self.info[1])
  def printCareerStatistics(self):
    print(f'Name: {self.name}\nRuns Scored: {self.runs} , Balls Faced: {self.balls_faced}')
  def battingStrikeRate(self):
    return (self.runs/self.balls_faced)*100
  def setName(self,name):
    self.name=name  
b1 = Batsman(6101, 7380)
b1.printCareerStatistics()
print("============================")
b2 = Batsman("Liton Das", 678, 773)
b2.printCareerStatistics()
print("----------------------------")
print(b2.battingStrikeRate())
print("============================")
b1.setName("Shakib Al Hasan")
b1.printCareerStatistics()
print("----------------------------")
print(b1.battingStrikeRate())

Name: New Batsman
Runs Scored: 6101 , Balls Faced: 7380
============================
Name: Liton Das
Runs Scored: 678 , Balls Faced: 773
----------------------------
87.71021992238033
============================
Name: Shakib Al Hasan
Runs Scored: 6101 , Balls Faced: 7380
----------------------------
82.66937669376694

Task 10

In [ ]:
class EPL_Team:
  def __init__(self,name,song="No Slogan"):
    self.name=name
    self.song=song
    self.title=0
  def increaseTitle(self):
    self.title+=1
  def changeSong(self,song):
    self.song=song
  def showClubInfo(self):
    return f'Name: {self.name}\nSong: {self.song}\nTotal No of title: {self.title}'
manu = EPL_Team('Manchester United', 'Glory Glory Man United')
chelsea = EPL_Team('Chelsea')
print('===================')
print(manu.showClubInfo())
print('##################')
manu.increaseTitle()
print(manu.showClubInfo())
print('===================')
print(chelsea.showClubInfo())
chelsea.changeSong('Keep the blue flag flying high')
print(chelsea.showClubInfo())

===================
Name: Manchester United
Song: Glory Glory Man United
Total No of title: 0
##################
Name: Manchester United
Song: Glory Glory Man United
Total No of title: 1
===================
Name: Chelsea
Song: No Slogan
Total No of title: 0
Name: Chelsea
Song: Keep the blue flag flying high
Total No of title: 0

Task 11

In [ ]:
class Author:
  def __init__(self,name="Default",*info):
    self.name=name
    self.books=info
  def addBooks(self,*books):
    self.books=books
  def printDetails(self):
    print(f'Author Name: {self.name}\n--------')
    print("List of books:")
    for i in self.books:
      print(i)
  def changeName(self,name):
    self.name=name
auth1 = Author('Humayun Ahmed')
auth1.addBooks('Deyal', 'Megher Opor Bari')
auth1.printDetails()
print('===================')
auth2 = Author()
print(auth2.name)
auth2.changeName('Mario Puzo')
auth2.addBooks('The Godfather', 'Omerta', 'The Sicilian')
print('===================')
auth2.printDetails()
print('===================')
auth3 = Author('Paolo Coelho', 'The Alchemist', 'The Fifth Mountain')
auth3.printDetails()

Author Name: Humayun Ahmed
--------
List of books:
Deyal
Megher Opor Bari
===================
Default
===================
Author Name: Mario Puzo
--------
List of books:
The Godfather
Omerta
The Sicilian
===================
Author Name: Paolo Coelho
--------
List of books:
The Alchemist
The Fifth Mountain

Task 12

In [ ]:
class TaxiLagbe:
  def __init__(self,number,area):
    self.number=number
    self.area=area
    self.customer_list=[]
    self.cost_list=[]
    self.taxi_member_tracker=0
  def addPassenger(self,*passenger):
    self.passener=passenger
    self.list1=[]
    for i in passenger:
      self.list1.append(i) 
    for i in self.list1:
      self.taxi_member_tracker+=1
      if self.taxi_member_tracker<5:
        self.customer_list.append(i.split('_')[0])
        self.cost_list.append(int(i.split('_')[1]))
        print("Dear",i.split('_')[0]+"!","Welcome to TaxiLagbe.")
      else:
        print("Taxi Full! No more passengers can be added.")  
  def printDetails(self):
    self.taxi_cost=0
    print(f'Trip info for Taxi number: {self.number}\nThis taxi can cover only {self.area} area.\nTotal passengers: {len(self.customer_list)}')
    print("Passenger list:")
    for j in range(len(self.customer_list)):
      if j!=len(self.customer_list)-1:
        print(self.customer_list[j],end=',')
      else:
        print(self.customer_list[j])
    for k in self.cost_list:
      self.taxi_cost+=k      
    print(f'Total cost: {self.taxi_cost} Taka')      
taxi1 = TaxiLagbe('1010-01', 'Dhaka')
print('-------------------------------')
taxi1.addPassenger('Walker_100', 'Wood_200')
taxi1.addPassenger('Matt_100')
taxi1.addPassenger('Wilson_105')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi1.addPassenger('Karen_200')
print('-------------------------------')
taxi1.printDetails()
print('-------------------------------')
taxi2 = TaxiLagbe('1010-02', 'Khulna')
taxi2.addPassenger('Ronald_115')
taxi2.addPassenger('Parker_215')
print('-------------------------------')
taxi2.printDetails()

-------------------------------
Dear Walker! Welcome to TaxiLagbe.
Dear Wood! Welcome to TaxiLagbe.
Dear Matt! Welcome to TaxiLagbe.
Dear Wilson! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passenger list:
Walker,Wood,Matt,Wilson
Total cost: 505 Taka
-------------------------------
Taxi Full! No more passengers can be added.
-------------------------------
Trip info for Taxi number: 1010-01
This taxi can cover only Dhaka area.
Total passengers: 4
Passenger list:
Walker,Wood,Matt,Wilson
Total cost: 505 Taka
-------------------------------
Dear Ronald! Welcome to TaxiLagbe.
Dear Parker! Welcome to TaxiLagbe.
-------------------------------
Trip info for Taxi number: 1010-02
This taxi can cover only Khulna area.
Total passengers: 2
Passenger list:
Ronald,Parker
Total cost: 330 Taka

Task 13(CONFUSION)

In [8]:
class Account:
  def __init__(self,name="Default Account",balance=0):
    self.name=name
    self.balance=balance
  def details(self):
    return f'{self.name}\n{self.balance}'
  def withdraw(self,money):
    self.money=money
    new_balance=self.balance-self.money
    if new_balance<=3070:
      print("Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.") 
    else:
      self.balance-=self.money
      print(f'Withdraw successful! New balance is: {self.balance}')
a1 = Account()
print(a1.details())
print("------------------------")
a1.name = "Oliver"
a1.balance = 10000.0
print(a1.details())
print("------------------------")
a2 = Account("Liam")
print(a2.details())
print("------------------------")
a3 = Account("Noah",400)
print(a3.details())
print("------------------------")
a1.withdraw(6930)
print("------------------------")
a2.withdraw(600)
print("------------------------")
a1.withdraw(6929)

Default Account
0
------------------------
Oliver
10000.0
------------------------
Liam
0
------------------------
Noah
400
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Sorry, Withdraw unsuccessful! The account balance after deducting withdraw amount is equal to or less than minimum.
------------------------
Withdraw successful! New balance is: 3071.0

Task 14

In [89]:
class StudentDatabase:
  def __init__(self,name,id):
    self.name=name
    self.id=id
    self.grades={}
    self.semester_list=[]
  def calculateGPA(self,info,semester):
    self.info=info
    self.semester=semester
    self.course_list=[]
    self.cgpa_list=[]
    self.dict1={}
    self.calculated_cgpa=0
    self.semester_list.append(self.semester)
    for i in self.info:
      self.course_list.append(i.split(": ")[0])
      self.cgpa_list.append(i.split(": ")[1])
    for j in self.cgpa_list:
      self.calculated_cgpa+=float(j)
    self.calculated_cgpa=round((self.calculated_cgpa*3)/len(self.course_list*3),2)
    self.dict1[tuple(self.course_list)]=self.calculated_cgpa
    self.grades[self.semester]=self.dict1
  def printDetails(self):
    print(f'Name: {self.name}\nID:{self.id}')
    for p in self.semester_list:
      print(f'Courses taken in {p}:')
      for j in self.grades[p]:
        for s in j:
          print(s)
        print(f'GPA: {self.grades[p][j]}')      
s1 = StudentDatabase('Pietro', '10101222')
s1.calculateGPA(['CSE230: 4.0', 'CSE220: 4.0', 'MAT110: 4.0'],
'Summer2020')
s1.calculateGPA(['CSE250: 3.7', 'CSE330: 4.0'], 'Summer2021')
print(f'Grades for {s1.name}\n{s1.grades}')
print('------------------------------------------------------')
s1.printDetails()
s2 = StudentDatabase('Wanda', '10103332')
s2.calculateGPA(['CSE111: 3.7', 'CSE260: 3.7', 'ENG101: 4.0'],
'Summer2022')
print('------------------------------------------------------')
print(f'Grades for {s2.name}\n{s2.grades}')
print('------------------------------------------------------')
s2.printDetails()

Grades for Pietro
{'Summer2020': {('CSE230', 'CSE220', 'MAT110'): 4.0}, 'Summer2021': {('CSE250', 'CSE330'): 3.85}}
------------------------------------------------------
Name: Pietro
ID:10101222
Courses taken in Summer2020:
CSE230
CSE220
MAT110
GPA: 4.0
Courses taken in Summer2021:
CSE250
CSE330
GPA: 3.85
------------------------------------------------------
Grades for Wanda
{'Summer2022': {('CSE111', 'CSE260', 'ENG101'): 3.8}}
------------------------------------------------------
Name: Wanda
ID:10103332
Courses taken in Summer2022:
CSE111
CSE260
ENG101
GPA: 3.8

In [22]:
a1=['CSE230: 4.0', 'CSE220: 4.0', 'MAT110: 4.0']
course_list=[]
dict1={}
for i in a1:
  course_list.append(i.split(': ')[0])
print(course_list)
dict1[tuple(a1)]=2
print(dict1)

['CSE230', 'CSE220', 'MAT110']
{('CSE230: 4.0', 'CSE220: 4.0', 'MAT110: 4.0'): 2}