<a href="https://colab.research.google.com/github/Atiq0641/python_codes/blob/main/CSE111-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

String 1

In [ ]:
user_input=str(input())
upper_counter=0
lower_counter=0
empty_string=""
for i in user_input:
  if "a"<=i<="z":
    lower_counter+=1
  elif "A"<=i<="Z":
    upper_counter+=1
if upper_counter>lower_counter:
  for j in user_input:
    #if "A"<=j<="Z":
      #empty_string+=j
    #elif j==" ":
      #empty_string+=j  
    #else:
      #empty_string+=chr(ord(j)-32)
    if "a"<=j<="z":
      empty_string+=chr(ord(j)-32)
    else:
      empty_string+=j    
else:
  for k in user_input:
    #if "a"<=k<="z":
      #empty_string+=k
    #elif k==" ":
      #empty_string+=k  
    #else:
      #empty_string+=chr(ord(k)+32)
    if "A"<=k<="Z":
      empty_string+=chr(ord(k)+32)
    else:
      empty_string+=k   
print(empty_string)

WhAt The H
what the h

String-2

In [ ]:
user_input=input()
digit_count=0
word_count=0
mixed_count=0
for i in user_input:
  if "0"<=i<="9":
    digit_count+=1
  elif "a"<=i<="z" or "A"<=i<="Z":
    word_count+=1
  else:
    mixed_count+=1
if digit_count==len(user_input):
  print("NUMBER")
elif word_count==len(user_input):
  print("WORD")
else:
  print("MIXED")

heLLO1235
MIXED

String 3

In [ ]:
user_input=str(input())
counter=0
empty=''
start=0
end=0
for i in range(len(user_input)):
  ascii=ord(user_input[i])
  if 65<=ascii<=90:
    start=i
    break    
for j in range(len(user_input)):
  ascii1=ord(user_input[j])
  if 65<=ascii1<=90:
    end=j
empty=empty+user_input[start+1:end] 
if len(empty)==0:
  print("Blank")
else:
  print(empty)

AsiA
si

String 4

In [ ]:
user_input='dean, tom'
list1=user_input.split(", ")
user_input1=list1[0]
user_input2=list1[1]
empty=""
for i in user_input1:
  if i in user_input2:
    empty+=i
for j in user_input2:
  if j in user_input1:
    empty+=j
if len(empty)==0:
  print("Nothing in common")
else:      
  print(empty)

Nothing in common

String-5

In [ ]:
user_password=input()
upper_counter=0
lower_counter=0
special_counter=0
digit_counter=0
special_character="_$@#"
for i in user_password:
  if i in special_character:
    special_counter+=1
  elif "a"<=i<="z":
    lower_counter+=1
  elif "A"<=i<="Z":
    upper_counter+=1
  elif "0"<=i<="9":
    digit_counter+=1
if upper_counter==0 and lower_counter==0 and special_counter==0 and digit_counter==0:
  print("Uppercase character missing, Lowercase character, Digit missing, Special character missing")
elif upper_counter==0 and lower_counter==0 and special_counter==0:
  print("Uppercase character missing, Lowercase character,Special character missing")
elif upper_counter==0 and lower_counter==0 and digit_counter==0:
  print("Uppercase character missing, Lowercase character, Digit missing")
elif upper_counter==0 and digit_counter==0 and special_counter==0:
  print("Uppercase character missing,Digit missing, Special character missing")
elif lower_counter==0 and digit_counter==0 and special_counter==0:
  print("Lowercase character, Digit missing, Special character missing")
elif upper_counter==0 and lower_counter==0: 
  print("Uppercase character missing, Lowercase character")
elif digit_counter==0 and special_counter==0:
  print("Digit missing, Special character missing")
elif upper_counter==0 and digit_counter==0:
  print("Uppercase character missing,Digit missing")
elif lower_counter==0 and digit_counter==0:
  print("Lowercase character missing, Digit missing")
elif upper_counter==0 and special_counter==0:
  print("Uppercase character missing, Special character missing")
elif lower_counter==0 and special_counter==0:
  print("Lowercase character missing, Special character missing")
elif upper_counter==0:
  print("Uppercase character missing")
elif lower_counter==0:
  print("Lowercase character missing")
elif special_counter==0:
  print("Special character missing")
elif digit_counter==0:
  print("Digit missing")
else:
  print("OK")

atiq@Ma
Digit missing

List-1

In [ ]:
empty_list1=[]
empty_list2=[]
i=0
while i<10:
  user_input=input()
  if user_input=="STOP":
    break
  else:
    empty_list1.append(user_input)
for i in empty_list1:
  if i not in empty_list2:
    empty_list2.append(i)
for j in empty_list2:
  print(j,"-",empty_list1.count(j),"times")

10
20
20
10
30
50
90
STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

List 2

In [ ]:
n=int(input())
highest_sum=0
highest_list=[]
for i in range(n):
  sum=0
  list1=[]
  list_input=input()
  list_input1=list_input.split(" ")
  for j in list_input1:
    list1.append(int(j))
  for k in list1:
    sum=sum+k
    if sum>highest_sum:
      highest_sum=sum
      highest_list=list1
print(highest_sum)
print(highest_list)

4
1 2 3
4 5 6
10 11 12
7 8 9
33
[10, 11, 12]

list 3

In [ ]:
x=0
while x<10:
  user_input=input()
  if user_input=="STOP":
    break
  else:
    list1=user_input.split(" ")
    integer_list=[]
    difference_list=[]
    unique_difference_list=[]
    difference=0
    for i in list1:
      integer_list.append(int(i))
    print(integer_list)
    for k in range(len(integer_list)):
      if k==len(integer_list)-1:
        break
      else:
        difference=abs(integer_list[k]-integer_list[k+1])
        difference_list.append(difference)
      for j in difference_list:
         if j not in unique_difference_list:
           unique_difference_list.append(j)
    print(unique_difference_list)
    if len(unique_difference_list)==len(integer_list)-1:
      print("UB jumper")
    else:
      print("Not UB jumper")

5 7 8 9
[5, 7, 8, 9]
[2, 1]
Not UB jumper
STOP

list-4

In [ ]:
n_k=str(input())
list1=n_k.split(" ")
integer_list_n_k=[]
applicable_participant=0
times_participated_after_k=0
for i in list1:
  integer_list_n_k.append(int(i))
n=integer_list_n_k[0]
k=integer_list_n_k[1]
time_participated=str(input())
list2=time_participated.split(" ")
list_time_participated=[]
for j in list2:
  list_time_participated.append(int(j))
for x in list_time_participated:
  times_participated_after_k=x+k
  if times_participated_after_k<=5:
    applicable_participant+=1  
print(applicable_participant//3)

6 5
0 1 2 3 4 5
0

Dictionary & tuple 1

In [ ]:
user_input1=input()
user_input2=input()
list1=user_input1.split(", ")
list2=user_input2.split(", ")
dict1={}
for i in list1:
  items_of_list1=i.split(": ")
  for j in items_of_list1:
    if j not in dict1.keys():
      dict1[j]=int(items_of_list1[1])
      break
    else:
      dict1[j]=int(dict1[j]+items_of_list1[1])
for k in list2:
  items_of_list2=k.split(": ")
  for x in items_of_list2:
    if x not in dict1.keys():
      dict1[x]=int(items_of_list2[1])
      break
    else:
      dict1[x]=dict1[x]+int(items_of_list2[1])
      break
print(dict1)
values_of_dict1=[]
for values in dict1.values():
  values_of_dict1.append(values)
for w in range(0,len(values_of_dict1)-1):
  for e in range(0,len(values_of_dict1)-w-1):
    if values_of_dict1[e]>values_of_dict1[e+1]:
      temp=values_of_dict1[e]
      values_of_dict1[e]=values_of_dict1[e+1]
      values_of_dict1[e+1]=temp
unique_values_of_dict1=[]
for y in values_of_dict1:
  if y not in unique_values_of_dict1:
    unique_values_of_dict1.append(y)
print(tuple(unique_values_of_dict1))

a: 100, b: 100, c: 200, d: 300
a: 300, b: 200, d: 400, e: 200
{'a': 400, 'b': 300, 'c': 200, 'd': 700, '300': 300, '200': 200, '400': 400, 'e': 200}
(200, 300, 400, 700)

Dictionary & Tuple 2

In [ ]:
list1=[]
i=0
dict1={}
while i<10:
  user_input=input()
  if user_input=="Stop" or user_input=="stop" or user_input=="STOP":
    break
  else:
    list1.append(user_input)
for i in list1:
  if i not in dict1:
    dict1[i]=1
  else:
    dict1[i]=dict1[i]+1 
for j in dict1:
  print(j,"-",dict1[j],"times")

Dictionary & tuple 3

In [ ]:
user_input=input()
list1=user_input.split(", ")
print(list1)
dict1={}
for i in list1:
  item=i.split(" : ")
  items=item[::-1]
  for k in items:
    if k not in dict1.keys():
      dict1[k]=[items[1]]
      break
    else:
      dict1[k]=dict1[k]+[items[1]]
      break 
print(dict1)

key1 : value1, key2 : value2, key3 : value1
['key1 : value1', 'key2 : value2', 'key3 : value1']
{'value1': ['key1', 'key3'], 'value2': ['key2']}

Dictionary & Tuple 4

In [ ]:
dict1={'.':'1',',':'11','?':'111','!':'1111',':':'11111','A':'2','B':'22','C':'222','D':3,'E':33,'F':'333','G':'4','H':'44','I':'444','J':5,'K':'55','L':'555','M':'6','N':'66','O':'666','P':'7','Q':'77','R':'777','S':'7777','T':'8','U':'88','V':'888','W':'9','X':'99','Y':'999','Z':'9999',' ':'0'}
user_input=input()
empty_string1=""
empty_string2=""
for i in user_input:
  if not ord(i)>=97 and ord(i)<=122:
    empty_string1=empty_string1+i
  else:
    empty_string1+=chr(ord(i)-32)
for j in empty_string1:
  if j in dict1.keys():
    empty_string2+=str(dict1[j])
print(empty_string2)

ab s
22207777

Function 1

In [ ]:
def BMI_calculation(height,weight):
  BMI= round(weight/((height/100)**2),1)
  if BMI<18.5:
    print("Score is",str(BMI)+".","You are Underweight")
  elif 18.5<=BMI<=24.9:
    print("Score is",str(BMI)+".","You are Normal")
  elif 25<=BMI<=30:
    print("Score is",str(BMI)+".","You are Overweight")
  elif BMI>30:
    print("Score is",str(BMI)+".","You are Obese")
BMI_calculation(175,96)

Score is 31.3. You are Obese

Function 2

In [ ]:
def sum_of_divisor(minimum,maximum,divisor):
  total_sum=0
  for i in range(minimum,maximum):
    if i%divisor==0:
      total_sum+=i
  return total_sum
user_input=input()
user_input1=user_input[1:-1]
list1=user_input1.split(", ")
for i in range(len(list1)):
  if i==0:
    minimum1=int(list1[i])
  elif i==1:
    maximum1=int(list1[i])
  elif i==2:
    divisor1=int(list1[i])        
print(sum_of_divisor(minimum1,maximum1,divisor1))

(3, 16, 3)
45

Fucntion 3

In [ ]:
def calculate_total_price(name_of_burger,place="Mohakhali"):
  price_of_burgers={"BBQ Chicken Cheese Burger":250,"Beef Burger":170,"Naga Drums":200}
  total_cost=0
  if place=="Mohakhali":
    total_cost=price_of_burgers[name_of_burger]+40+(0.08*price_of_burgers[name_of_burger])
  else:
    total_cost=price_of_burgers[name_of_burger]+60+(0.08*price_of_burgers[name_of_burger])
  print(total_cost)
calculate_total_price("Naga Drums","Gulshan")

276.0

Function 4

In [1]:
def replace_old_domain(the_email_address_to_be_checked,the_new_domain,the_old_domain="sheba.xyz"):
  list1=the_email_address_to_be_checked.split("@")
  if the_old_domain=="sheba.xyz":
    print("Unchanged:",the_email_address_to_be_checked)
  else:
    print("Changed:",list1[0]+"@"+the_new_domain)
replace_old_domain("alice@kaaj.com", "sheba.xyz", "kaaj.com")

Changed: alice@sheba.xyz

Function 5

In [ ]:
def show_palindrome(user_input):
  empty_string=""
  for i in user_input:
    if i!=" ":
      empty_string+=i
  if empty_string==empty_string[::-1]:
    print("Palindrome")
  else:
    print("Not palindrome")
show_palindrome("none")

Not palindrome

Function 5

In [ ]:
def corrected_copy(user_input1):
  empty_string=""
  special_character=".!?"
  for j in range(len(user_input1)):
    if j==0:
      empty_string+=chr(ord(user_input1[j])-32)
    elif user_input1[j-2] in special_character and user_input1[j-1]==" ":
      empty_string+=chr(ord(user_input1[j])-32)
    elif user_input1[j]=="i" and user_input1[j+1]==" ":
      empty_string+=chr(ord(user_input1[j])-32)  
    else:
      empty_string+=user_input1[j]
  print(empty_string)            
corrected_copy("my favourite animal is a dog. a dog has sharp teeth so that it can eat flesh very easily. do you know my pet dog’s name? i love my pet very much.")

My favourite animal is a dog. A dog has sharp teeth so that it can eat flesh very easily. Do you know my pet dog’s name? I love my pet very much.