<a href="https://colab.research.google.com/github/Atiq0641/python_codes/blob/main/Lab_Assignment_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 01

In [ ]:
def evenchecker(a):
  if a%2==0:
    print("Even!!")
  else:
    print("Odd!!")

evenchecker(11)

Odd!!

Task 02

In [ ]:
def fibonacci(x):
  a=0
  b=1
  c=0
  if x>=0:
    while c<=x:
      a=b
      b=c
      print(c,end=" ")
      c=a+b
  else:
    print("Please enter postive value")    
      
fibonacci(5)

0 1 1 2 3 5

Task 03

In [ ]:
def foo_moo(a):
  if a%2==0 and a%3==0:
    return "FooMooo"
  elif a%2==0:
    return "Foo"
  elif a%3==0:
    return "Moo"
  else:
    return "Boo"  
print(foo_moo(6))

FooMooo

Task 04

In [ ]:
def function_name(x):
  count1=0
  count2=0
  for i in x:
    if ord(i)>=97 and ord(i)<=122:
      count1=count1+1
    elif ord(i)>=65 and ord(i)<=90:
      count2=count2+1   
  print("No. of Uppercase characters :",count2)
  print("No. of Lowercase Characters:",count1)  
function_name('HaRRy PotteR')

No. of Uppercase characters : 5
No. of Lowercase Characters: 9

Task 05

In [ ]:
def calculate_tax(a,b,c):

  if a>=0 and a<18:
    return 0
  else:
    if c=="president" or c=="President":
      return 0
    else: 
      if b<10000:
        return "No tax"  
      elif b>=10000 and b<20000:
        return (b/100)*5
      else:
        return (b/100)*10    

a=int(input())
b=int(input())
c=input()
print(calculate_tax(20, 18000, 'assistant manager'))

20
18000
assistant manager
900.0

Task 06

In [ ]:
def function_name(x):
  a=x//365
  b=x%365
  c=b//30
  d=b%30
  print(a,"years",c,"months","and",d,"days")
function_name(2250)

6 years 2 months and 0 days

Task 07

In [ ]:
def show_palindrome(x):
  ab=""
  abc=""
  i=1
  j=1
  while i<x:
    ab+=str(i)
    i=i+1  
  while x>=j:
    abc+=str(x)
    x=x-1  
  return ab+abc
print(show_palindrome(5))

123454321

In [ ]:
def show_palindrome(x):
  abc=""
  abcd=""
  for i in range(1,x+1):
      abc+=str(i)
  for i in range (1,x):
    abcd+=str(i) 
  return (abc+abcd[::-1])            
print(show_palindrome(5))

123454321

Task 08

In [ ]:
def show_palindrome(x):
  abc=""
  abcd=""
  for i in range(1,x+1):
      abc+=str(i)
  for i in range (1,x):
    abcd+=str(i) 
  return print(abc+abcd[::-1])            
show_palindrome(5)    

def show_palindromic_triangle(x):
  for i in (1,x+1):
    show_palindrome(x)
    
show_palindromic_triangle(5)

123454321
123454321
123454321

Task 09

In [ ]:
from math import pi as pi_value
def area_circumference_generator(r):
  area= pi_value*r*r
  circumference= 2* pi_value*r
  a=(area,circumference)
  return a
t=area_circumference_generator(2.5)
c,d=t
print(t)
print("Area of the circle is",c,"and circumference is",d)

(19.634954084936208, 15.707963267948966)
Area of the circle is 19.634954084936208 and circumference is 15.707963267948966

Task 10

In [ ]:
def make_square(a):
  b,c=a
  dict1={}
  for i in range (b,c+1):
    dict1[i]=i*i
  return dict1 
print(make_square((5,9)))

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Task 11

In [ ]:
def rem_duplicate(a):
  list1=[]
  b=list(a)
  for i in b:
    if i not in list1:
      list1.append(i)
      c=tuple(list1)
  return c    

print(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])))

('Hi', 1, 2, 3, 'a', [1, 2])

Task 12

In [ ]:
def function_name(a):
  list1=[]
  removed_items=[]
  count=0
  for i in a:
    if list1.count(i)<2:
      list1.append(i)
    else:
      removed_items.append(i)
  for i in removed_items:
    count=count+1    
  print("Removed:",count)
  return list1
print(function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))

Removed: 2
[1, 2, 3, 3, 4, 5, 8, 8]

Task 13

In [ ]:
def function_name(a,b,c):
  if a== "+":
    return (b + c)
  if a== "-":
    return (b-c)
  if a== "*":
    return (b*c)
  if a== "/":
    return (b/c)

a=input()  
b=float(input())
c=float(input())        

print(function_name(a,b,c))

+
10
20
30.0

Task 14

In [ ]:
def function_name(a,b):
  a1=a[1:-1]
  empty_string=""
  empty2=""
  empty3=""
  for i in range(1,len(a1)):
    if not i%b==0:
      empty_string=empty_string+a1[i]
    else:
      empty2=empty2+a1[i]      
  empty3=a1[0]+empty_string+empty2
  return empty3
a=input()
b=int(input())
print(function_name(a,b))

"I love programming."
3
I lveprgrmmngo oai.

In [ ]:
dict1={"Rice":105,"Potato":20,"Chicken":250,"Beef":510,"Oil":85}
def function_name(a,b="Dhanmondi"):
  items=input()
  items1=(items[1:-1].split(', '))
  items2=[]
  sum=0
  for i in items1:
    items2.append(i[1:-1])
  for j in items2:
    if j in dict1:
      sum=sum+dict1[j]  
  if b!="Dhanmondi":
    return (sum+70)
  else:
    return (sum+30)
print(function_name(["Rice", "Beef", "Rice"]))

["Rice", "Beef", "Rice"]
750

string to list

In [ ]:
dict1={"Rice":105,"Potato":20,"Chicken":250,"Beef":510,"Oil":85}
items=input()
items1=(items[1:-1].split(', '))
items2=[]
print(items1)
for i in items1:
  items2.append(i[1:-1])
print(items2)
for j in items2:
  if j in dict1:
    print(j)

["Rice", "Beef", "Rice"]
['"Rice"', '"Beef"', '"Rice"']
['Rice', 'Beef', 'Rice']
Rice
Beef
Rice